body {
    padding-top: 60px;
    background-image: url(http://i767.photobucket.com/albums/xx320/timsutterby/download.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.my_active {
    background-color: #ff9900;
    border-color: #ff9900;
}

.my_navlinks {
    border-left: 2px solid whitesmoke;
    width: 175px;
    text-align: center;
}

.divshadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

hr {
    border: 1px inset whitesmoke;
}

button {
    margin-right: 10px;
    padding: 14px 40px;
    border: none;
    border-radius: 6px;
    background-color: #ff9900;
    color: whitesmoke;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
    background-color: whitesmoke;
    border: 2px solid #ff9900;
    color: #ff9900;
    transition-duration: 0.4s;
}

.buttontron {
    background-color: white;
    height: 100px;
}

.my_FWPjumbotron {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    background-color: white;
    background-image: url(http://i767.photobucket.com/albums/xx320/timsutterby/7730952314_acaec44ca8_b.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
}

.my_jumbotainerFWP {
    padding-top: 40px;
    padding-bottom: 40px;
}

footer {
    background-color: whitesmoke;
    margin-top: 100px;
    padding-top: 25px;
}

.textbackground {
    padding: 25px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.chardiv {
    text-align: center;
}

.charlinks {
    height: 300px;
    width: 350px;
    border: 0px;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 0px;
    background-color: white;
    display: inline-block;
}

.div1index {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    background-color: white;
    background-image: url(http://i767.photobucket.com/albums/xx320/timsutterby/HKUST_campus_view_looking_from_above.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
}

.div2index {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    background-color: white;
    background-image: url(http://i767.photobucket.com/albums/xx320/timsutterby/Duke-University.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
}

.div3index {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    background-image: url(http://i767.photobucket.com/albums/xx320/timsutterby/Coursera.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center;
    background-size: cover;
    
}

.div4index {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    background-color: gray;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}